[Unit]
Description=Failsafe Discord bot
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull ssouthcity/failsafe:latest
ExecStart=/usr/bin/docker run --rm --name failsafe --mount type=bind,source=/etc/failsafe/config.json,target=/src/config.json ssouthcity/failsafe
ExecStop=/usr/bin/docker stop failsafe

[Install]
WantedBy=multi-user.target